.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 6rem;
  min-height: 100vh;
}

.title {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 10rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}